<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fan</title>
</head>
<body>
    <header>
    <form>
        <input name="fan_nomi" type="text" placeholder="Fan nomini yozing">
        <button>Qidirish</button>
    </form>
    </header>
    <section>
    <h1>Hamma fanlar</h1>
    {%for fan in fanlar%}
    <ul>
        <li>
            {{fan.id}}.{{fan.nom}}
            <a href="/fanni_ochirish/{{fan.id}}"><button>Delete</button></a>
            <a href="/fanlar/{{fan.id}}/tahrirlash/"><button>Edit</button></a>
        </li>
    </ul>
    </section>
{%endfor%}
    <aside>
        <form method="post">{%csrf_token%}
            <label>Fan:</label>
            <input name="fan" type="text" placeholder="Fan nomini yozing">
            <label>Yonalish:</label>
            <select name="yonalish">
                {% for y in yonalishlar%}
                <option value="{{y.id}}">
                    {{y.nom}}
                </option>
                {%endfor%}
            </select>
            <button>Qo'shish</button>
        </form>
    </aside>
</body>
</html>