<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fan</title>
</head>
<body>
    <h1>Hamma Yonalishlar</h1>
    {%for y in yonalishlar%}
    <ul>
        <li>
            {{y.id}}.{{y.nom}}

            <a href="/y_ochir/{{y.id}}"><button>Delete</button></a>
            <a href="/yonalishlar/{{y.id}}/tahrirlash/"><button>Edit</button></a>
        </li>
    </ul>
{%endfor%}

    <form method="post">{%csrf_token%}

        {{forms.as_p}}

<!--        <input name="yonalish" type="text" placeholder="Yonalish nomini yozing">-->
<!--        <label>Active:</label>-->
<!--        <input type="checkbox" name="active">-->
        <button>Qo'shish</button>
    </form>

</body>
</html>